nav{
  height: 50px;
  display: flex;
  color: black      ;
  background: rgb(126, 248, 248);
}

nav ul{
    display: flex;
}

nav ul li{
    margin: 5px;
}
*{
margin-left: 4px;
margin-right: 4px;
}

body{
  background-color: rgb(150, 229, 240);
}

input{
  border-radius: 5px;
}

fieldset{
  border-radius: 12px;
}

textarea{
  border-radius: 12px;
}